<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Head -->
    <%= render :partial=>"/layouts/admin/head" -%>
  </head>
  <body>

    <div id="wrapper">

      <div class="container-fluid header-block clearfix">

        <%#* Display Sidebar -%>
        <div id="sidebar-wrapper">
          <%= render :partial=>"/layouts/admin/sidebar" -%>
        </div>

        <div class="page-content-wrapper">
          <div id="div_page_header">
            <%= render :partial=>"/layouts/admin/header" -%>
          </div>

          <%#* Show flash messages if controller has set any. -%>
          <div id="div_flash_message" class="mt-51">
            <%= flash_message(false) -%>
          </div>

          <%#* Page Content Starts here -%>
          <div id="div_page_content">
            <%= yield %>
          </div>

          <%#* Display Footer -%>
          <div class="cl-40"></div>
          <div id="div_page_footer" class="row footer-with-sidebar">
          <%= render :partial=>"/layouts/admin/footer" -%>
          </div>

        </div>

      </div>

    </div>

    <%#* Display Hidden Overlays -%>
    <%= render :partial=>"layouts/common/overlays" -%>

    <%#* Loading Javascripts -%>
    <%= javascript_include_tag @javascript_filename, 'data-turbolinks-track': 'reload' -%>

    <%= yield :javascript_footer -%>

  </body>

</html>
