<div class="table-responsive"> 
	<table class="table table-striped table-condensed table-bordered"> 
		<thead> 
			<tr> 
				<th style="text-align: center;width:30px">#</th> 
				<th >Name</th>
				<th >SKU</th>
				<th >Brand</th>
				<th >Category</th>
				<th >Top Category</th>
				<th >Featured</th>
				<th style="text-align: center;width:80px;">Status</th>
				<th style="text-align: center;width:80px;">Priority</th>
				<th style="text-align: center;width:120px;">Actions</th>
			</tr> 
		</thead>
		<tbody> 
			<% @products.each_with_index do |product, i| %>
				<tr id="tr_product_<%= product.id %>">
					
					<% edit_link = edit_admin_product_path(id: product.id) %>
					<% delete_link = admin_product_path(id: product.id) %>
					
					<th scope="row" style="text-align: center;">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>
					
					<td><%= link_to product.name, admin_product_path(product), remote: true %></td>
					<td><%= product.sku %></td>
					<td><%= product.brand.name if product.brand %></td>
					<td><%= product.category.name if product.category %></td>
					<td><%= product.top_category.name if product.top_category %></td>

					<td>
						<% if product.featured %>
				      <span class="ml-5 mt-5 label label-warning">Featured</span>
				    <% end %>
					</td>

					<td>
						<% if product.unpublished? %>
							<span class="ml-5 mt-5 label label-default">Unpublished</span>
						<% elsif product.published? %>
							<span class="ml-5 mt-5 label label-success">Published</span>
						<% elsif product.removed? %>
							<span class="ml-5 mt-5 label label-danger">Removed</span>
						<% else %>
							<span class="ml-5 mt-5 label label-danger"><%= product.status %></span>
						<% end %>
					</td>

					<td style="text-align: center;"><%= product.priority %></td>

					<td>
						
						<div class="dropdown pull-right">

					    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color:inherit;">
					      <%= raw("<i class=\"fa fa-cogs mr-5\"></i> Action") %>
					      <span class="caret"></span>
					    </button>

					    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

					    	<li role="presentation">
				          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Edit"), edit_link, :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
				        </li>
				        <li role="presentation" class="divider"></li>

					     	<% case product.status %>
					      <% when "published" %>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> UnPublish"), update_status_admin_product_path(:id =>product.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Remove"), update_status_admin_product_path(:id =>product.id, :status =>'removed'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					        <li role="presentation" class="divider"></li>
					        <% if product.featured? %>
						        <li role="presentation">
						          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Remove from Featured"), remove_from_featured_admin_product_path(:id =>product.id), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_featured" %>
						        </li>
					        <% else %>
					        	<li role="presentation">
						          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Mark as Featured"), mark_as_featured_admin_product_path(:id =>product.id), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_featured" %>
						        </li>
					        <% end %>
					      <% when "unpublished" %>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_product_path(:id =>product.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Remove"), update_status_admin_product_path(:id =>product.id, :status =>'removed'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					      <% when "removed" %>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> UnPublish"), update_status_admin_product_path(:id =>product.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					        <li role="presentation">
					          <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_product_path(:id =>product.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					        <li role="presentation">
					        	<%= link_to raw("<i class=\"fa fa-trash mr-5\"></i> Delete"), delete_link, :method => :delete, :remote=>true, role: "menuitem", tabindex: "-1", :class=>"product_status" %>
					        </li>
					      <% end %>

					    </ul>

					  </div>

					</td>

				</tr>
			<% end %>
		</tbody> 
	</table>
</div>

<%= theme_paginate(@products) %>