<%= form_for([:admin, @user], :html => {:id=>"form_user", :class=>"mb-0 form-horizontal", :role => "form", :method => (@user.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= params[:action].titleize %> User
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="user_form_error">
        <%= @user.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%= theme_form_field(@user, :name) %>
        <%= theme_form_field(@user, :username) %>
        <%= theme_form_field(@user, :email) %>
        <%= theme_form_field(@user, :designation, required: false) %>

        <% if @user.new_record? %>

        <%= theme_form_field(@user, :password, required: true, html_options: {type: :password}) %>
        <%= theme_form_field(@user, :password_confirmation, required: true, html_options: {type: :password}, label: "Retype Password") %>

        <% end %>
        
        <%# options = {assoc_collection: Designation.select("id, title").order("title ASC").all, required: true, editable: true, assoc_display_method: :title} %>
        <%#= theme_form_assoc_group(@user, :designation_id, **options) %>

        <%#= theme_form_field(@user, :designation, required: false) %>

        <%# options = {assoc_collection: Department.select("id, name").order("name ASC").all, required: false, editable: true} %>
        <%#= theme_form_assoc_group(@user, :department_id, **options) %>

        <%= theme_form_field(@user, :phone, required: false) %>
        
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% show_url = @user.new_record? ? admin_users_path : admin_user_path(@user) %>
        <%= link_to "Cancel", "#", onclick: "closeModal();", class: "btn btn-default" %>
        <%= theme_form_button(@user) %>
      </div>
    </div>

  </div>

<% end %>

