

<% edit_link = edit_admin_user_path(id: user.id) %>
<% delete_link = admin_user_path(id: user.id) %>

<th scope="row" style="text-align: center;">
	<% if i < 0 %>
	<i class="fa fa-check text-success"></i>
	<% else %>
	<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
	<% end %>
</th>

<td><%= link_to user.name, admin_user_path(user), remote: true %></td>
<td><%= link_to user.username %></td>
<td><%= link_to user.email %></td>
<td><%= link_to user.phone %></td>

<td>
	<% if user.super_admin %>
	<span class="mr-10 mt-5 label label-warning">Super Admin</span>
	<% else %>
	<span class="mr-10 mt-5 label label-default">Normal</span>
	<% end %>
</td>

<td>
	<% if user.inactive? %>
	<span class="ml-5 mt-5 label label-default">Pending</span>
	<% elsif user.active? %>
	<span class="ml-5 mt-5 label label-success">Approved</span>
	<% elsif user.suspended? %>
	<span class="ml-5 mt-5 label label-danger">Suspended</span>
	<% end %>
</td>

<td style="text-align: center;height:60px;width:90px;">
	<%= link_to raw("<i class=\"fa fa-edit mr-5\"></i>"), edit_link, :remote=>true %>
	<%= link_to raw("<i class=\"fa fa-trash mr-5\"></i>"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true %>

	<% if @current_user.super_admin? %>
	<%= link_to raw("<i class=\"fa fa-plug mr-5\"></i>"), masquerade_admin_user_path(user), method: :put, class: "", data: { confirm: "Are you sure? Do you really want to logout current session and login as #{user.name}?" } %>
	<% end %>

	<div class="dropdown pull-right">

		<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color:inherit;">
			<%= raw("<i class=\"fa fa-cogs mr-5\"></i> Action") %>
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

			<% if @current_user.super_admin? %>
			
			<% if user.super_admin? %>
			
			<!-- Remove Super Admin -->
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-remove mr-5\"></i> Remove Super Admin"), remove_super_admin_admin_user_path(id: user.id), method: :put, :remote=>true, role: "menuitem", tabindex: "-1" %>
			</li>

			<% else %>

			<!-- Make Super Admin -->
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-plus-square mr-5\"></i> Make Super Admin"), make_super_admin_admin_user_path(id: user.id), method: :put, remote: true, role: "menuitem", tabindex: "-1" %>
			</li>
			<li role="presentation" class="divider"></li>

			<% end %>
			<% end %>

			<% case user.status %>
			<% when "active" %>
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Inactivate"), update_status_admin_user_path(:id =>user.id, :status =>'inactive'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
			</li>
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Suspend"), update_status_admin_user_path(:id =>user.id, :status =>'suspended'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
			</li>
			<% when "inactive" %>
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Activate"), update_status_admin_user_path(:id =>user.id, :status =>'active'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
			</li>
			<% when "suspended" %>
			<li role="presentation">
				<%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Activate"), update_status_admin_user_path(:id =>user.id, :status =>'active'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1",:class=>"user_status" %>
			</li>
			<% end %>
		</ul>

	</div>

</td>
